.hero-img {
	position: relative;
	padding: 160px 35px;
	background-image: var(--background-garadient), url('../img/hero-img_640.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
	text-align: center;
	color: var(--pure-white-color);
	overflow: hidden;
}
.hero-img__title {
	margin-bottom: 8px;
	font-size: 50px;
}
.hero-img__text {
	padding: 16px 0;
}
@media (min-width: 500px) {
	.hero-img {
		background-attachment: fixed;
	}
}

@media (min-width: 768px) {
	.hero-img {
		padding: 400px 35px;
		background-image: var(--background-garadient), url('../img/hero-img_1920.jpg');
	}
	.hero-img hr {
		margin: 0 auto;
		width: 70%;
	}
	.hero-img__text {
		font-size: 35px;
	}
}
@media (min-width: 992px) {
	.hero-img {
		padding: 600px 35px;
	}
	.hero-img__title {
		font-size: 100px;
	}
}
